<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <script src="/static/script.js"></script>
  <h1>{{ title }}</h1>
  <p>Example home page for a Twisted Klein web application by <a href="https://github.com/dberzano">Dario Berzano</a>.</p>
  <p>Information:</p>
  <ul>
    <li>Python {{ pyver }}</li>
  </ul>
  <hr/>
  <p><i>This template is released under the GPLv3 license, see the <tt>LICENSE</tt> file on the root directory of this repository.</i></p>
</body>
</html>
