<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
  <script src="/static/script.js"></script>
  <h1>{{ title }}</h1>
  <p>Example home page for a Twisted Klein web application by <a href="https://github.com/dberzano">Dario Berzano</a>.</p>

  <h3>Jobs</h3>
  <ul id="jobStatus">
    <!-- Filled by jQuery -->
  </ul>
  <p><a href="#" id="startJob">Start job</a></p>

  <h3>Information</h3>
  <ul>
    <li>Python {{ pyver }}</li>
  </ul>
  <hr/>
  <p><i>This template is released under the GPLv3 license, see the <tt>LICENSE</tt> file on the root directory of this repository.</i></p>
</body>
</html>
